%display{
	display: flex;
}

%background{
	background-color: black;
}

%color1{
	color: white;
}

@mixin red{
	color: red;
}

@mixin blue{
	color: blue;
}

@mixin green{
	color: green;
}

@mixin h($height){
	height: $height;
}

@mixin w($width){
	width: $width;
}

@mixin placeholder{
	::-moz-placeholder {
		@content;
	}
	::-webkit-input-placeholder {
		@content;
	}
	::-ms-placeholder {
		@content;
	}
	::placeholder {
		@content;
	}
}

@mixin selection{
	::-moz-selection {
		@content
	}
	::-webkit-selection {
		@content
	}
	::-ms-selection {
		@content
	}
	::selection {
		@content
	}
}

@mixin keyframes{
	@-o-keyframes anim{
		@content
	}
	@-ms-keyframes anim {
		@content
	}
	@-moz-keyframes anim {
		@content
	}
	@-webkit-keyframes anim {
		@content
	}
	@keyframes anim {
		@content
	}
}

body{
	@include red;
	@include h(200px);
	@include w(400px);
}

.ex{
	 @extend %color1;
}

.ex1{
	 @extend %color1;
}

.ex2{
	 @extend %color1;
}

@include placeholder{
	color:black;
}

@include selection{
	color: white;
}

@include keyframes{
	color: red;
}
