@import "bootstrap/_functions.scss";
@import "modules/_variables.scss";
@import "bootstrap/_bootstrap.scss";

@import "modules/_font-awesome.scss";
@import "modules/_buttons.scss";
@import "modules/_card.scss";
@import "modules/_type.scss";

@import "modules/_icons.scss";
@import "modules/_navigation.scss";
@import "modules/_inputs.scss";
@import "modules/_bg-images.scss";

