.navbar{
    background-color: $gray-900;
    font-size: 0.875rem;
    
}

.nav-item{
    color: $white;
    
}

.nav-item:hover{
    text-decoration: none;
    color: $gray-500;
    transition: 0.2s;
    
}